.logo {
    width: 155px;
}
.rightSideHeader {
    display: flex;
    .weatherInfo {
        display: flex;
        .weatherIcon {
            display: flex;
            color: #fff;
            font-size: 38px;
            font-weight: 400;
     
        }
        .temperature{
            align-items: center;
            font-size: 20px;
            padding-left: 10px;
              
        }
    }
    .phoneIconContainer {
        padding-left: 30px;
        
        .phoneIcon{
            border-radius: 50%;
            border: 1px solid white;
            font-size: 15px;
            padding: 10px;
        }

        
    }
    .bottonContainer {
        padding-left: 50px;
    }
}

@media (max-width: 990px) {
    .imgCol{
      background-position: center;
      width: 1000px;
      height: 40rem;
    }
    .leftSideHeader{
        display: flex;
        justify-content: center !important;
        .logo {
            padding-bottom: 20px;
            
        }
    }
    
    .rightSideHeader{
        justify-content: center !important;
        .temperature{
           
            padding-left: 0 !important;
              
        }
    }
  }