

@font-face {
  font-family: "Sharp Sans No1 Medium Italic";
  src: url("//db.onlinewebfonts.com/t/59e7605c0e625de0522a548ac1a15d91.eot");
  src: url("//db.onlinewebfonts.com/t/59e7605c0e625de0522a548ac1a15d91.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/59e7605c0e625de0522a548ac1a15d91.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/59e7605c0e625de0522a548ac1a15d91.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/59e7605c0e625de0522a548ac1a15d91.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/59e7605c0e625de0522a548ac1a15d91.svg#Sharp Sans No1 Medium Italic")
      format("svg");
}

@font-face {
  font-family: 'Diodrum Arabic';
  src: url("../fonts/Diodrum\ Arabic\ Medium.ttf") format("truetype");
}
$font-main: 'Diodrum Arabic', sans-serif;


@import 'https://fonts.googleapis.com/css2?family=Shanti&display=swap';



$section-padding: 4.375rem 8.375rem;
