.modalTitle {
    color: #21436E;
    .titleName {
        font-style: italic;
    }
}
.modalBody{
    
    .values {
        color: #21436E;
        font-weight: bold;

    }
   
}
.modalBtn {
    background-color: #21436E;
}

css-1nrlq1o-MuiFormControl-root {
    width: 100% !important;
}