.subButton {
    font-size: 14px;
    width: 221px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #21436E;
}
.subButton:hover {
    background-color: #21436E;
    border: 1px solid #fff;
    color: #fff;
}